<% @page_title = "Welcome"%>

<div class="row-fluid">
  <div class="span5"> 
  	<br/>
  	<br/>
  	<%= image_tag "wds.png"%>
  	<br/>
  	<br/>
	<ul>
		<li class = "purpose">PhotoShop Your Photos</li>
		<br/>
		<li class = "purpose">Asking Questions About The Photos</li>
	</ul>
	
	<br/>
	<div class = "btn-group">
		<a class = "btn btn-success btn-large" href=<%=new_user_registration_path%>>
		<i class="icon-camera icon-white"></i> Get Started!!!</a>
   	</div>
  </div>
  <div class="span7"><%= image_tag "bgf.png"%></div>
</div>




</div>

