/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree
 *= require bootstrap_and_overrides
*/

.auth-input .btn{
	width: 126px;
}

.auth-body{
	width:300px;
	margin: auto;
}

.nav {
	position: fixed;
	margin-right: 50px;
}

.picture-selection{
	width: 500px;
}

.pic-selection-title, .album-list-title{
	float: left;
	margin-right: 5px;
}

.btn-toolbar{
	position: absolute;
	margin-left: 590px;
}

#facebook-label{
	background: #3B5998; 	
}

#header-logo{
	margin-right: 150px;
	width: auto;
	height: 80px;
	background: black;
	float:left;
}


label{
	font-size: 16px;
	float: left;
    text-align: right;
}

.facebook-albums{
	background: #3B5998;
  	padding-top: 20px;
  	padding-right: 20px;
  	padding-left: 20px;
  	margin-top: 10px;
  	margin-left: 50px;
  	width: 750px;
  	height: auto;
  	float: left;
  	border-radius:10px;
}


.singal-album{
	float: left;
  	width: 150px;
  	height: 220px;
  	margin: 5px 15px;
  	color: white;
}

.singal-album img{
	width: 150px;
	height: 120px;
	border: 3px solid white;
	border-radius:5px;
}

.album-name {
	font-weight: bold;
	color: white;
}

.separat-line{
	clear: both;
	width: 50px;
	margin: auto;
}

.crowd-albums{	
	background: #f89406;
	padding-top: 20px;
  	padding-right: 20px;
  	padding-left: 20px;
  	margin-left: 50px;
  	width: 750px;
  	height: auto;
  	float: left;
  	border-radius:10px;
}

div.upload-action{
	clear: both;
	padding-top: 15px;
	padding-left: 20px;
	
}
